<a href="https://colab.research.google.com/github/truth-breaker/DATA-SCIENCE/blob/main/Netflix_cleaning_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [110]:
netflix_data = pd.read_csv('netflix_data.csv')

In [111]:
netflix_data.shape

(7787, 11)

In [112]:
netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers"
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies"
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV"

In [113]:
#group by director and get the first few rows
netflix_data.groupby('director').count().head()

,show_id,type,title,cast,country,date_added,release_year,rating,duration,genres
director,,,,,,,,,,
A. L. Vijay,2,2,2,2,2,2,2,2,2,2
A. Raajdheep,1,1,1,1,1,1,1,1,1,1
A. Salaam,1,1,1,1,1,1,1,1,1,1
A.R. Murugadoss,2,2,2,2,1,2,2,2,2,2
Aadish Keluskar,1,1,1,1,1,1,1,1,1,1

In [114]:
#sort values in "release_year"
# To get the release yrs in ascending order
netflix_data.sort_values("release_year", ascending = True)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
4298,s4868,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,30-Dec-18,1925,TV-14,1,TV Shows
4402,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,31-Mar-17,1942,TV-14,52,"Classic Movies, Documentaries"
5688,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,31-Mar-17,1942,TV-14,18,"Classic Movies, Documentaries"
7423,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,31-Mar-17,1943,TV-PG,45,Documentaries
7353,s7617,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,31-Mar-17,1943,TV-PG,82,Documentaries
...,...,...,...,...,...,...,...,...,...,...,...
4125,s4711,Movie,Outside the Wire,Mikael Håfström,"Anthony Mackie, Damson Idris, Emily Beecham, M...",NaN,15-Jan-21,2021,R,116,Action & Adventure
6337,s6702,TV Show,The Netflix Afterparty,NaN,"David Spade, London Hughes, Fortune Feimster",United States,02-Jan-21,2021,TV-MA,1,"Stand-Up Comedy & Talk Shows, TV Comedies"
4562,s5104,Movie,Ratones Paranoicos: The Band that Rocked Argen...,"Alejandro Ruax, Ramiro Martínez","Juan Sebastián Gutiérrez, Pablo Cano, Pablo Me...",NaN,06-Jan-21,2021,TV-MA,76,"Documentaries, International Movies, Music & M..."
5401,s5860,Movie,Stuck Apart,NaN,"Engin Günaydın, Haluk Bilginer, Binnur Kaya, Ö...",Turkey,08-Jan-21,2021,TV-MA,97,"Comedies, Dramas, International Movies"
589,s1529,Movie,Creating The Queen's Gambit,NaN,NaN,NaN,08-Jan-21,2021,TV-14,14,Documentaries

In [115]:
netflix_data["release_year"].sort_values()

4298    1925
4402    1942
5688    1942
7423    1943
7353    1943
        ...
4125    2021
6337    2021
4562    2021
5401    2021
589     2021
Name: release_year, Length: 7787, dtype: int64

In [116]:
#get number of missing values in each column of the data frame
netflix_data.isna().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
genres             0
dtype: int64

In [117]:
#Get the total number of rows that contain missing values
netflix_data.isna().sum().sum()

np.int64(3631)

In [118]:
#Percentage of rows with missing values
(netflix_data.isna().sum().sum()/netflix_data.shape[0])*100

np.float64(46.628997046359316)

In [119]:
#Drop rows with missing values
netflix_data = netflix_data.dropna()

In [120]:
#confirm shape after dropping rows
netflix_data.shape

(4808, 11)

In [121]:
#Investigate for duplicates
netflix_data.duplicated().sum()

np.int64(0)

In [122]:
# Get the data type of "date_added" column
netflix_data["date_added"].dtype

dtype('O')

In [123]:
#Get the data type of first entry in "data_added" column
type(netflix_data["date_added"].iloc[0])

str

In [124]:
#Convert the "date_added" column after converting to datetime format
netflix_data["date_added"] = pd.to_datetime(netflix_data["date_added"])

/tmp/ipython-input-3151629877.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  netflix_data["date_added"] = pd.to_datetime(netflix_data["date_added"])

In [125]:
#display "date_added" column after converting to datetime format
netflix_data["date_added"]

1      2017-12-15
2      2019-01-05
3      2016-03-01
5      2019-02-25
6      2021-01-01
          ...
7778   2019-06-21
7781   2019-10-01
7784   2016-08-26
7785   2019-03-08
7786   2016-12-06
Name: date_added, Length: 4808, dtype: datetime64[ns]

In [126]:
#get the data type of the "release_year"
netflix_data["release_year"].dtype

#type(netflix_data["release_year"].iloc[0])

dtype('int64')